@import "./components/common";
@import "./components/header";
@import "./components/mv";
@import "./components/home";
@import "./components/footer";
@import "./components/tabpanel";

/* 下層ページ */
@import "./components/plan";
@import "./components/news";
@import "./components/column";
@import "./components/point";
@import "./components/single";
@import "./components/flow";
@import "./components/faq";
@import "./components/shop";
@import "./components/options";