/* メインカラー */
// $primary: ;

/* セカンドカラー */
$secondary: #f6f3ed;

/* 緑系 */
// $success: ;

/* 青系 */
// $info: ;

/* 黄色系 */
// $warning: ;

/* 赤系 */
$danger: #e81c06;

/* 灰色系 */
// $light: ;

/* 黒 */
$dark: #000000;

/* 全体のデフォルトカラー */
$body-color: $dark;
