/* メインカラー */
// $primary: ;

/* セカンドカラー */
$secondary: #f6f3ed;

/* 緑系 */
$success: #92ba19;

/* 青系 */
$info: #297bb4;

/* 黄色系 */
$warning: #f78c21;

/* 赤系 */
$danger: #e81c06;

/* 灰色系 */
$light: #f6f3ed;

/* 黒 */
$dark: #000000;

/* 全体のデフォルトカラー */
$body-color: $dark;
